<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" href="/img/icon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | Pet Pals</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" />
  <!-- Main CSS -->
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container mt-3">
      <div class="d-flex justify-content-between w-100">
        <div>
          <a class="navbar-brand" href="#">
            <img src="../img/petpals_logo.png" />
          </a>
        </div>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="/register">Register</a>
          </div>
        </div>
      </div>
    </div>
  </nav>


  <br>
  <br>

  <div class="container mt-5">

    <div class="page-info text-center mt-5">
      <h1>Login: Welcome to Pet Pals! Your favorite pet adoption platform.</h1>
      <p class="mt-4">Please sign in to your account to continue browsing adoptable pets, manage your profile, and
        connect with shelters. If you're new here, sign up to join our community and find your perfect pet
        companion. Let's make a difference together!
      </p>
    </div>

    <div id="signup-message" class="hidden"></div>
    <div id="error-message" class="hidden"></div>

    <form class="mt-5" id="login-form">
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" name="email">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>
      <button class="btn page-btn" type="submit">Login</button>
      <br>
      <br>
      <p>Don't have an account? <a href="/register">Register</a></p>
    </form>
  </div>


  <!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>
  <!-- Main Script -->
  <script src="/js/loginScript.js"></script>
</body>

</html>