<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adopt Pets | Pet Pals</title>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" />
    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>

    <!-- Reusable Header Component -->
    <div id="mainNavbar"></div>

    <div class="container">
        <div class="page-info text-center mt-5">
            <h1>Please search for your preferred pets</h1>
            <p class="mt-4">Browse our available animals and learn more about the adoption process.</p>
        </div>
        <br>

        <div class="pet-list-container">
            <div class="pet-search-filter">
                <div class="search-group-wrap w-50 m-auto mt-5">
                    <div class="input-group">
                        <select class="form-select" id="species_dropdown">
                            <option selected>Choose Pet Type...</option>
                            <option value="Dogs">Dogs</option>
                            <option value="Cat">Cats</option>
                        </select>
                        <input type="text" class="form-control" placeholder="Search pet breed">
                        <select class="form-select" id="location_dropdown">
                            <option selected>Filter Location...</option>
                            <option value="Dogs">Victoria</option>
                            <option value="Cat">New South Wales</option>
                            <option value="Cat">Queensland</option>
                        </select>
                        <button class="btn page-btn" type="button">Search</button>
                    </div>
                </div>
            </div>
            <div class="pet-lists-group mt-5">
                <div class="row" id="pet_list_grid">
                    
                </div>
                <br>
                <br>
                <button class="btn page-btn" type="button">View All</button>
            </div>
        </div>

    </div>


    <footer id="mainFooter" class="mt-5 pt-5 pb-5"></footer>





    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <!-- Main Script -->
  <script src="/js/indexScript.js"></script>
  <script src="/js/petsScript.js"></script>

</body>

</html>