<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Pals | Pet Adoption Platform</title>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" />
    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>

    <!-- Reusable Header Component -->
    <nav class="navbar navbar-expand-lg">
        <div class="container mt-3">
            <div class="d-flex justify-content-between w-100">
                <div>
                    <a class="navbar-brand" href="#">
                        <img src="../img/petpals_logo.png" />
                    </a>
                </div>

                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" href="/home">Home</a>
                        <a href="shelter.html" id="shelter-link" class="nav-link active">Shelter</a>

                        <a class="nav-link active" id="logout_a">Logout</a>

                    </div>
                </div>
            </div>
        </div>
    </nav>


    <div class="container">
        <div class="page-info text-center mt-5">
            <h1>My Profile</h1>
            <p class="mt-4">Edit and Save your profile information.</p>
        </div>

        <div class="profile-group">
            <div class="container mt-5 mb-5">
                <div class="row m-auto">
                    <div class="col-md-5">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img class="rounded-circle" width="150px"
                                src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png">
                            <br>
                            <h2 class="font-weight-bold">Profile Name</h2>
                            <p class="text-black-50" id="email_under"></p>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <form class="profile-form" id="update-form">
                            <div class="mb-3 text-left">
                                <label for="full_name" class="form-label">Full Name</label>
                                <input type="text" class="form-control" id="full_name">
                            </div>
                            <div class="mb-3 text-left">
                                <label for="email" class="form-label">Your Email</label>
                                <input type="email" class="form-control" id="email" readonly>
                            </div>
                            <div class="mb-3 text-left">
                                <label for="contact" class="form-label">Your Contact No.</label>
                                <input type="tel" class="form-control" id="contact_number">
                            </div>
                            <div class="mb-3 text-left">
                                <label for="address" class="form-label">Address</label>
                                <input type="text" class="form-control" id="address">
                            </div>
                            <div class="mb-3 text-left">
                                <label for="state" class="form-label">State</label>
                                <input type="text" class="form-control" id="state">
                            </div>
                            <div class="mb-3 text-left">
                                <label for="role" class="form-label">Role</label>
                                <input type="text" disabled class="form-control" id="role">
                            </div>

                            <div class="mb-3 text-left">
                                <label for="profile_description" class="form-label">Your Description</label>
                                <textarea class="form-control" name="profile_description" rows="5"
                                    id="profile_description"></textarea>
                            </div>
                            <div>
                                <button class="btn page-btn">Save Profile</button>
                            </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
    </div>
    </div>


    <footer id="mainFooter" class="mt-5 pt-5 pb-5">

    </footer>





    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <!-- Main Script -->
    <script src="/js/profileScript.js"></script>
    <script src="/js/indexScript.js"></script>
</body>

</html>